/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
.nav {
    background-color: rgb(49, 49, 49);
    padding: 10px;
    text-align: center;
    color: #fff;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline-flex;
    margin-right: 10px;
}

.nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #304D6D;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav a:hover {
    background-color: #243a51;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2F2F2F;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #BDC4A7;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #304D6d;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Footer styles */
footer {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    justify-content: space-between;
    background-color: #171717;
    bottom: 0;
    width: 100%;
    color: white;
}

.footer_logo {
    height: 5%;
    width: auto;
}

footer li {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 7%;
}

#Footer_Product_title,
#Footer_social_title {
    font-weight: bold;
    background-color: #333333;
    padding: 5px;
    font-size: 25px;
    box-shadow: 2px 2px 4px black;
}

.social-icons img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.social-icons li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Medewerkers CSS */
.medewerkers {
    background-color: #BDC4A7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.medewerker {
    width: 75%;
}

.medewerker img {
    width: 100%;
}

.medewerker p {
    text-align: center;
    font-weight: bolder;
    color:#171717;
}

/* Product CSS */
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #BDC4A7;
    box-shadow: #aeadad 2px 2px 4px;

}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-info {
    margin-top: 10px;
}

.product-name {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.product-brand,
.product-price {
    margin: 5px 0;
    color: #555;
}

.product-description {
    margin-bottom: 10px;
    color: #777;
}

.add-to-cart-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: #0056b3;
}

/* Complaint Form CSS */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

.form {
    width: 400px;
    padding: 20px;
    background-color: #F3F9D2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form input[type="text"],
.form input[type="tel"],
.form select,
.form textarea {
    width: 100%;
    margin-bottom: 

10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form input[type="submit"] {
    width: 100%;
    background-color: #304D6D;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form input[type="submit"]:hover {
    background-color: #243a51;
}
/* Complaint Form Process CSS */
.klacht-header {
    text-align: center;
    background-color: #79A9D1;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    font-size:12px; /* Increase font size */
}

.klacht-content {
    padding: 20px;
    border-radius: 10px;
    background-color: #F3F9D2;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center; /* Align text to the center */
}

.klacht-content h2 {
    color: #304D6D;
    margin-bottom: 15px;
    font-size: 20px; /* Increase font size */
}

.klacht-content p {
    margin-bottom: 10px;
    font-size: 16px; /* Increase font size */
    color: #2F2F2F; /* Update text color */
}

.klacht-footer {
    text-align: center;
    background-color: #BDC4A7;
    color: #2F2F2F;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 18px; /* Increase font size */
}

/* Index CSS */
body {
    background-color: #F3F9D2;
}

.container {
    padding: 20px;
    text-align: center;
    margin: 0 auto; /* Center align */
}

.search-container {
    margin-top: 50px; /* Adjusted margin */
    margin-bottom: 135px; /* Adjusted margin */
}

.search-bar {
    background-color: #c4c6bd;
    color: #171717;
    border: none;
    box-shadow: #171717 0px 0px 5px;
    width: 60%;
    padding: 15px;
    font-size: 18px;
    border-radius: 20px;
}

.box {
    background-color: #BDC4A7;
    width: 350px;
    height: 350px;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.boxes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    margin-bottom:50px;
    justify-items: center;
}

.box img {
    width: 100%;
    height: 100%;
    border-radius: 30px; 
    padding:30px;
}
.search-button{
    background-color: #243a51;
    padding:5px;
    color:white;
}